<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppiumDemo">
  <test thread-count="5" name="Test">
    <classes>
      <class name="automationScenarios.interactWithKeyBoard"/>
      <class name="automationScenarios.IntractWithExistingApp"/>
      <class name="automationScenarios.DifferentGestures"/>
      <class name="automationScenarios.InstallExternalApkAndLaunch"/>
      <class name="GoogleClock.Automation.ClockAppAutomationFunc"/>
      <class name="automationScenarios.interactWithApps"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- AppiumDemo -->
